@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body, p, h1, h2, h3, h4, h5, th, td, label {
  font-family: 'Roboto', sans-serif !important;
}

html, body {
  background-image: url('assets/image.png'); /* Adjust the path based on your folder structure */
  background-size: cover; /* This will make the image cover the entire background */
  /* Add more styles as needed */
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  background-color: rgb(250, 228, 200);
}


.p-card {
  background: #fff6f6 !important;
  border-radius: 10px !important;
}
.p-inputtext {
  width: 100% !important;
}
.p-button{
  width:  100% !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #161616 !important;
  color: white !important;
}

.p-dropdown{
  width: 100% !important;
}


